* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", "Open Sans";
  font-size: 0.875rem;
  line-height: 1.5;
  background: #f1f5f8;
  color: #102a42;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}
body {
  font-size: 1rem;
}

.btn {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25rem;
  background: #2680c0;
  color: #fff;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: #2680c0;
  background: #85c6f4;
}

.loading {
  margin-top: 60px;
  text-align: center;
}
nav {
  padding: 15px 24px;
  background: #2680c0;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
nav h3 {
  color: #fff;
  margin-bottom: 0;
}
.nav-container {
  display: block;
  position: relative;
}
nav svg {
  width: 24px;
  fill: #fff;
}
.amount-container {
  background: #85c6f4;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.total-amount {
  font-size: 15px;
  color: #fff;
  margin-bottom: 0;
}

.cart {
  max-width: 50rem;
  min-height: 50rem;
  margin: 0 auto;
  margin-top: 40px;
  padding: 2.5rem 0;
  width: 90vw;
}
.cart h2 {
  margin-bottom: 36px;
  text-align: center;
}
.empty-cart {
  text-align: center;
  color: #617d98;
  margin-top: 12px;
}
.cart footer {
  margin-top: 4rem;
  text-align: center;
}
.cart-total h4 {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.clear {
  color: #bb2525;
  border: 1px solid #bb2525;
  border-radius: 3px;
  padding: 6px 12px;
  margin-top: 30px;
  background: transparent;
}
.clear:hover {
  background: #000;
  color: #bb2525;
}

.cart-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 18px;
  align-items: center;
  margin: 18px 0;
}
.cart-item img {
  height: 60px;
}
.cart-item h4 {
  font-weight: 500;
  margin-bottom: 6px;
  letter-spacing: 2px;
}
.price {
  color: #617d98;
}
.remove {
  font-size: 10px;
  letter-spacing: 3px;
  margin-top: 3px;
  border: none;
  color: #2680c0;
  background: transparent;
  cursor: pointer;
}
.remove:hover {
  color: #203a4d;
}
.amount {
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  margin-bottom: 0;
}

hr {
  background: #617d98;
  border-color: transparent;
  border-width: 0.25px;
}
